[Unit]
Description=Developer Workflow Bot PR Labeler Timer

[Timer]
OnCalendar=Mon-Fri 09:30:00
OnCalendar=Mon-Fri 14:30:00
Persistent=true

[Install]
WantedBy=timers.target
